/*style.css*/
h4 {
    color: blue;
    text-decoration: underline;
    font-weight: bold;
    font-style: italic;
}
h5 {
    color: purple;
    text-decoration: none;
}
h6 {
    color: pink;
    font-weight: bold;
    text-decoration: line-through;
}